    <div id="vx-loading-modal">
        <div class="modal">
            <div>
                <i class="fa fa-spinner fa-pulse fa-3x p-2"></i>
                <div class="text"></div>
            </div>
        </div>
    </div>